
 <div class="container"; style= "margin-bottom: 10px">
<h1>Here your cocktails...</h1>
<br>
<%= link_to 'Create a new one', new_cocktail_path, class: "btn btn-primary" %>
<br>
<br>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
     <div class="col-sm-6 col-md-4 ">
      <div class="card " style="width: 18rem; margin-bottom: 10px">
        <div class="card-body">
        <h3> <%=  cocktail.name %></h3>
        <% if cocktail.photo.attached? %>
        <%= cl_image_tag cocktail.photo.key, width: 400, height: 300 %>
          <% else %>
          <%= "you can upload one" %>
          <% end %>
          <%= link_to "show details", cocktail_path(cocktail) %>
        </div>
      </div>
      </div>
    <% end %>
   <!-- <img src="..." class="card-img-top" alt="..."> -->
  </div>
</div>
